extends ../layouts/common

block content
  
  h1 
    span.mr-4 Book list
    a.btn.btn-primary(href="/books/create", class= user ? (user.isAdmin ? '' : 'd-none') : 'd-none') New a book
  
  button.btn.btn-primary(type="button") Cart
    span.ml-2.badge.badge-danger #{ count }

  
  .d-flex.align-items-center
    form.ml-auto.d-flex(action="/books/search", method="GET")
      input.form-control(type="text", name="q")
      button.btn.btn-primary.ml-2 search

  table.table(class= user  ? (user.isAdmin ? '' : 'd-none') : 'd-none')
    tr
      th Book cover
      th Title
      th Actions
      
    each book in books
      tr
        if book.bookCover
          td
            img.rounded(src=book.bookCover, width="64")
        else 
          td
            img.rounded(src='https://res.cloudinary.com/vinhnguyen93/image/upload/v1588557927/samples/food/spices.jpg', width="64")
        td= book.title
        td
          a.btn.btn-success(href='books/' + book.id + '/update') update
          a.btn.btn-danger.ml-2(href='books/' + book.id + '/delete') delete
          
  
  .row(class= user ? (user.isAdmin ? 'd-none' : '') : '')
    each book in books
      .col-sm-6.col-md-4.col-lg-3
        .card.mb-3
          if book.bookCover
              img.card-img-top(src=book.bookCover, height="200")
          else 
              img.card-img-top(src='https://res.cloudinary.com/vinhnguyen93/image/upload/v1588557927/samples/food/spices.jpg', height="200")
          .card-body
            h5.card-title= book.title
            p.card-text= book.description
            a.btn.btn-primary(href='/cart/add/' + book.id) add to cart
          
          
  nav
    ul.pagination.justify-content-center
      li.page-item(class= page === 1 ? 'disabled' : '')
        a.page-link(href='/books?page=' + (page - 1)) &laquo
      if (page === 1 || page === 2)
        - for (var i = 1; i <= 3; i++)
          li.page-item(class= page === i ? 'active' : '')
            a.page-link(href='/books?page=' + i)= i
      else if (page  === lengthPage - 1 || page === lengthPage)
        - for (var i = 2; i >= 0; i--)
          li.page-item(class= page === (lengthPage - i) ? 'active' : '')
            a.page-link(href='/books?page=' + (lengthPage - i))= lengthPage - i
      else 
        - for (var i = page - 1; i <= page + 1; i++)
          li.page-item(class= page === i ? 'active' : '')
            a.page-link(href='/books?page=' + i)= i
      li.page-item(class= page === lengthPage ? 'disabled' : '')
        a.page-link(href='/books?page=' + (page + 1)) &raquo
    