extends ../layouts/common

block content
  h1
    span.mr-4 User list
    a.btn.btn-primary(href="/users/create") New a user

  .d-flex.align-items-center
    form.ml-auto.d-flex(action="/users/search", method="GET")
      input.form-control(type="text", name="q")
      button.btn.btn-primary.ml-2 search

  table.table
    tr
      th Avatar
      th Name
      th Email
      th Actions
      
    each user in users
      tr
        td
          if user.avatar
            img.rounded-circle(src=user.avatar, width="32")
          else
            img.rounded-circle(src='https://res.cloudinary.com/vinhnguyen93/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1588557922/samples/bike.jpg', width="32")
        td= user.name
        td= user.email
        td
          a.btn.btn-success(href='users/' + user.userId + '/update') update
          a.btn.btn-danger.ml-2(href='users/' + user.userId + '/delete') delete
          
  nav
    ul.pagination.justify-content-center
      li.page-item(class= page === 1 ? 'disabled' : '')
        a.page-link(href='/users?page=' + (page - 1)) &laquo
      if (page === 1 || page === 2)
        - for (var i = 1; i <= 3; i++)
          li.page-item(class= page === i ? 'active' : '')
            a.page-link(href='/users?page=' + i)= i
      else if (page  === lengthPage - 1 || page === lengthPage)
        - for (var i = 2; i >= 0; i--)
          li.page-item(class= page === (lengthPage - i) ? 'active' : '')
            a.page-link(href='/users?page=' + (lengthPage - i))= lengthPage - i
      else 
        - for (var i = page - 1; i <= page + 1; i++)
          li.page-item(class= page === i ? 'active' : '')
            a.page-link(href='/users?page=' + i)= i
      li.page-item(class= page === lengthPage ? 'disabled' : '')
        a.page-link(href='/users?page=' + (page + 1)) &raquo