extends ../layouts/common

block content

  h1 
    span.mr-2 Transaction 
    a.btn.btn-primary(href="transactions/create") New a transaction

  table.table
    tr
      th Borrower
      th Book title
      th Completed
      th Actions
    
    if transactions
      each transaction in transactions
        tr
          td= transaction.user 
          td= transaction.book
          td= transaction.isComplete ? 'Have paid' : 'Unpaid'
          td
            a.btn.btn-primary(href='transactions/'  + transaction.tranId + '/complete') complete
     
  nav
    ul.pagination.justify-content-center
      li.page-item(class= page === 1 ? 'disabled' : '')
        a.page-link(href='/transactions?page=' + (page - 1)) &laquo
      if (page === 1 || page === 2)
        - for (var i = 1; i <= 3; i++)
          li.page-item(class= page === i ? 'active' : '')
            a.page-link(href='/transactions?page=' + i)= i
      else if (page  === lengthPage - 1 || page === lengthPage)
        - for (var i = 2; i >= 0; i--)
          li.page-item(class= page === (lengthPage - i) ? 'active' : '')
            a.page-link(href='/transactions?page=' + (lengthPage - i))= lengthPage - i
      else 
        - for (var i = page - 1; i <= page + 1; i++)
          li.page-item(class= page === i ? 'active' : '')
            a.page-link(href='/transactions?page=' + i)= i
      li.page-item(class= page === lengthPage ? 'disabled' : '')
        a.page-link(href='/transactions?page=' + (page + 1)) &raquo
      